<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments for The UK&#039;s leading Sports Psychology Website</title>
	<atom:link href="http://believeperform.com/comments/feed/" rel="self" type="application/rss+xml" />
	<link>http://believeperform.com</link>
	<description>Just another WordPress site</description>
	<lastBuildDate>Tue, 05 Jan 2016 17:10:00 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=4.2.6</generator>
	<item>
		<title>Comment on Humanistic Psychology in Sport by Adriana Amaral</title>
		<link>http://believeperform.com/education/humanistic-psychology-in-sport/#comment-814</link>
		<dc:creator><![CDATA[Adriana Amaral]]></dc:creator>
		<pubDate>Tue, 05 Jan 2016 17:10:00 +0000</pubDate>
		<guid isPermaLink="false">http://199.204.248.105/~thesport/?p=388#comment-814</guid>
		<description><![CDATA[I am gestalt therapist and sports psychologist in Brazil and I have been looking for other psychologists who try to make this relation between the two areas for years. I only found one article until now, from an unreachable author. Congratulations for this article. I would like to keep in touch for furhter discussion. My e-mail: adriana_aes@hotmail.com. You can find me on the internet.]]></description>
		<content:encoded><![CDATA[<p>I am gestalt therapist and sports psychologist in Brazil and I have been looking for other psychologists who try to make this relation between the two areas for years. I only found one article until now, from an unreachable author. Congratulations for this article. I would like to keep in touch for furhter discussion. My e-mail: <a href="mailto:adriana_aes@hotmail.com">adriana_aes@hotmail.com</a>. You can find me on the internet.</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on How to benefit from music in sport and exercise by Tala Musallam</title>
		<link>http://believeperform.com/performance/how-to-benefit-from-music-in-sport-and-exercise/#comment-806</link>
		<dc:creator><![CDATA[Tala Musallam]]></dc:creator>
		<pubDate>Sun, 03 Jan 2016 11:56:00 +0000</pubDate>
		<guid isPermaLink="false">http://www.thesportinmind.com/?p=1383#comment-806</guid>
		<description><![CDATA[Great article! Could you possibly share your list of resources for this research? Thank you :)]]></description>
		<content:encoded><![CDATA[<p>Great article! Could you possibly share your list of resources for this research? Thank you :)</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on The 12 point Self-Confidence Plan by The 12 point Self-Confidence Plan &#183; The ...</title>
		<link>http://believeperform.com/performance/the-12-point-self-confidence-plan/#comment-802</link>
		<dc:creator><![CDATA[The 12 point Self-Confidence Plan &#183; The ...]]></dc:creator>
		<pubDate>Sat, 19 Dec 2015 15:12:05 +0000</pubDate>
		<guid isPermaLink="false">http://believeperform.com/?p=9980#comment-802</guid>
		<description><![CDATA[[&#8230;] This article is written for the purpose of practitioners and performers in facilitating self-confidence levels. In practice, the 12 point self-confidence plan is a useful tool.&#160; [&#8230;]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] This article is written for the purpose of practitioners and performers in facilitating self-confidence levels. In practice, the 12 point self-confidence plan is a useful tool.&nbsp; [&#8230;]</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Positive Self-Talk in Sport by Positive Self-Talk in Sport &#183; The UK's l...</title>
		<link>http://believeperform.com/performance/positive-self-talk-in-sport/#comment-801</link>
		<dc:creator><![CDATA[Positive Self-Talk in Sport &#183; The UK's l...]]></dc:creator>
		<pubDate>Sat, 19 Dec 2015 15:05:20 +0000</pubDate>
		<guid isPermaLink="false">http://believeperform.com/?p=9997#comment-801</guid>
		<description><![CDATA[[&#8230;] THEORY: Positive self-talk relates to the ability to overcome negative thinking. Those who practice positive self-talk are more likely not to suffer from negative thoughts.&#160; [&#8230;]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] THEORY: Positive self-talk relates to the ability to overcome negative thinking. Those who practice positive self-talk are more likely not to suffer from negative thoughts.&nbsp; [&#8230;]</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Stress &#8211; It&#8217;s Everywhere! by Stress &#8211; It&#8217;s Everywhere! &#183; ...</title>
		<link>http://believeperform.com/performance/stress-its-everywhere/#comment-800</link>
		<dc:creator><![CDATA[Stress &#8211; It&#8217;s Everywhere! &#183; ...]]></dc:creator>
		<pubDate>Sat, 19 Dec 2015 14:56:37 +0000</pubDate>
		<guid isPermaLink="false">http://believeperform.com/?p=10029#comment-800</guid>
		<description><![CDATA[[&#8230;] We would be naive to think that stress does not exists in most of our daily lives as well as in our athletes&#8217; lives. The naive part of this aspect is that we throw [&#8230;]&#160; [&#8230;]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] We would be naive to think that stress does not exists in most of our daily lives as well as in our athletes&rsquo; lives. The naive part of this aspect is that we throw [&hellip;]&nbsp; [&#8230;]</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Regulating Emotions by Regulating Emotions &#183; The UK's leading S...</title>
		<link>http://believeperform.com/performance/regulating-emotions/#comment-799</link>
		<dc:creator><![CDATA[Regulating Emotions &#183; The UK's leading S...]]></dc:creator>
		<pubDate>Sat, 19 Dec 2015 14:51:17 +0000</pubDate>
		<guid isPermaLink="false">http://believeperform.com/?p=9982#comment-799</guid>
		<description><![CDATA[[&#8230;] Key Learning Points: Becoming aware of own emotions Regulating own emotions Developing strategies to cope under pressure Identifying your emotions &#8211; Identify emotions can be easily identified if we write down how we feel [&#8230;]...&#160; [&#8230;]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] Key Learning Points: Becoming aware of own emotions Regulating own emotions Developing strategies to cope under pressure Identifying your emotions &ndash; Identify emotions can be easily identified if we write down how we feel [&hellip;]&#8230;&nbsp; [&#8230;]</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Can imagery increase the strength of a muscle? by Can imagery increase the strength of a muscle? ...</title>
		<link>http://believeperform.com/performance/can-imagery-increase-the-strength-of-a-muscle/#comment-798</link>
		<dc:creator><![CDATA[Can imagery increase the strength of a muscle? ...]]></dc:creator>
		<pubDate>Sat, 19 Dec 2015 14:36:36 +0000</pubDate>
		<guid isPermaLink="false">http://believeperform.com/?p=9956#comment-798</guid>
		<description><![CDATA[[&#8230;] Recently I conducted an experiment as part of a university assignment examining the predictions of bio-informational theory (Lang, 1979) and the effectiveness of imagery on enhancing muscle strength, using a finger strength task.&#160; [&#8230;]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] Recently I conducted an experiment as part of a university assignment examining the predictions of bio-informational theory (Lang, 1979) and the effectiveness of imagery on enhancing muscle strength, using a finger strength task.&nbsp; [&#8230;]</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Emotional Intelligence: Role in Coaching by Emotional Intelligence: Role in Coaching &#38;middo...</title>
		<link>http://believeperform.com/performance/emotional-intelligence-role-in-coaching/#comment-797</link>
		<dc:creator><![CDATA[Emotional Intelligence: Role in Coaching &#38;middo...]]></dc:creator>
		<pubDate>Sat, 19 Dec 2015 14:34:02 +0000</pubDate>
		<guid isPermaLink="false">http://believeperform.com/?p=10074#comment-797</guid>
		<description><![CDATA[[&#8230;] Emotional Intelligence: Role in Coaching &#183; The UK&#039;s leading Sports Psychology Website https://t.co/UQgjTuk6CK&#160; [&#8230;]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] Emotional Intelligence: Role in Coaching &middot; The UK&#039;s leading Sports Psychology Website <a href="https://t.co/UQgjTuk6CK&#038;nbsp" rel="nofollow">https://t.co/UQgjTuk6CK&#038;nbsp</a>; [&#8230;]</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Aggression in sport by W2 Final Version &#124; Dueck UW1020 Fall 2015</title>
		<link>http://believeperform.com/education/aggression-in-sport-2/#comment-796</link>
		<dc:creator><![CDATA[W2 Final Version &#124; Dueck UW1020 Fall 2015]]></dc:creator>
		<pubDate>Fri, 11 Dec 2015 20:35:01 +0000</pubDate>
		<guid isPermaLink="false">http://199.204.248.105/~thesport/?p=174#comment-796</guid>
		<description><![CDATA[[&#8230;] Believe Perform. Aggression in Sport. http://believeperform.com/education/aggression-in-sport-2/ [&#8230;]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] Believe Perform. Aggression in Sport. <a href="http://believeperform.com/education/aggression-in-sport-2/" rel="nofollow">http://believeperform.com/education/aggression-in-sport-2/</a> [&#8230;]</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Life after sport: Depression in the retired athlete by Jocelyn Ingram</title>
		<link>http://believeperform.com/wellbeing/life-after-sport-depression-in-retired-athletes/#comment-794</link>
		<dc:creator><![CDATA[Jocelyn Ingram]]></dc:creator>
		<pubDate>Tue, 08 Dec 2015 23:46:00 +0000</pubDate>
		<guid isPermaLink="false">http://www.thesportinmind.com/?p=1741#comment-794</guid>
		<description><![CDATA[This is totally a thing and I say this all the time :( Except I call it post athletic stress disorder. I get flashbacks watching little kids play basketball and miss it so much!]]></description>
		<content:encoded><![CDATA[<p>This is totally a thing and I say this all the time :( Except I call it post athletic stress disorder. I get flashbacks watching little kids play basketball and miss it so much!</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Life after sport: Depression in the retired athlete by Elliot</title>
		<link>http://believeperform.com/wellbeing/life-after-sport-depression-in-retired-athletes/#comment-793</link>
		<dc:creator><![CDATA[Elliot]]></dc:creator>
		<pubDate>Tue, 08 Dec 2015 00:52:00 +0000</pubDate>
		<guid isPermaLink="false">http://www.thesportinmind.com/?p=1741#comment-793</guid>
		<description><![CDATA[i was a full time Great British athlete... 

I retired as a result of stress and for 5 years fought depression and attempted several comebacks to be wiped out by depression for no apparent reason as it was going well. I can&#039;t really even begin to describe how disappointing it was as I had a belief I was destined for Olympic glory and that if I just tried &quot;one more time&quot; my mind would let up and I could push through the stress....after all facing anxiety gets through it right?! I tried again recently to no avail. To add insult to injury through my illness I developed late onset of OCD which combined with retirement left me seriously contemplating suicide.

On my first retirement I got a part time job in a shop... I HATED it!!!. I&#039;ve grown up with packed stadiums, speed, a schedule which I chose and in the end i quit my job because I was horrified at how dissatisfying it was and couldn&#039;t for the life of me understand why anyone would want to do that. I felt for years that the world had interrupted in my god given destiny to win the Olympic games....oh the injustice!!!! I was for years holding my head in my hands thinking f*** I need to be a major success in something to replace/avenge what was taken from me. I was baffled as to how some of my role models have worked through the worst issues and I was devastated my brain would not just pull itself together for all the affirmation and fighting through tough times in the world.

After my worst bout of illness I discovered art as therapy. I also discovered poetry and dancing. I&#039;m 30 now and want to see how far I can go in one of these areas but regardless of my successes or failures the main point is I&#039;ve found other pursuits I can enjoy and express the fire and energy and ambition I had in sport. Of course sometimes I reflect on sport and think &quot;I should of pursued a creative career earlier&quot; but I have full belief in myself that I can do this regardless of my age and that this will still happen if I possess enough talent. I truly believe if my gift is art, poetry, drama ect I will still discover it with time and effort.

I can also work part time now without feeling I&#039;m throwing my life away so somebody in a high chair somewhere can exploit my time. I still feel that nobody should have to do anything they&#039;re not passionate about, though I accept sometimes there&#039;s a middle ground where some of your time is ok to just be ok with doing something a bit mundane so long as it pays well enough to eat good food and buy the things necessary for your own pursuits.

But in the midst of all this I have realised I am valuable without all the success and that I can perhaps live without my destiny being to be world famous or a huge success. There&#039;s an element of growth and acceptance in athletic retirement and with perseverance and openness to growth and possibility the retired athlete can still win even if for a few years they felt life left them with nothing but themselves. Even if you end up happy working in a little shop. You are still worth it, Just for being your own personality and things will change again when it is your time again. Change is inevitable. We as athletes ended up there because we were driven, talented and ambitious...so have faith you will find something where that continues...

Understand you may feel angry, raged, hopeless, like you were denied of your true potential but also understand you will have other skills and pursuits you can be equally successful in and who knows...

Final tip. Post retirement, Go travelling and go to lots of classes to find what you like. Find out how people live and find where you belong for this next chapter!]]></description>
		<content:encoded><![CDATA[<p>i was a full time Great British athlete&#8230; </p>
<p>I retired as a result of stress and for 5 years fought depression and attempted several comebacks to be wiped out by depression for no apparent reason as it was going well. I can&#8217;t really even begin to describe how disappointing it was as I had a belief I was destined for Olympic glory and that if I just tried &#8220;one more time&#8221; my mind would let up and I could push through the stress&#8230;.after all facing anxiety gets through it right?! I tried again recently to no avail. To add insult to injury through my illness I developed late onset of OCD which combined with retirement left me seriously contemplating suicide.</p>
<p>On my first retirement I got a part time job in a shop&#8230; I HATED it!!!. I&#8217;ve grown up with packed stadiums, speed, a schedule which I chose and in the end i quit my job because I was horrified at how dissatisfying it was and couldn&#8217;t for the life of me understand why anyone would want to do that. I felt for years that the world had interrupted in my god given destiny to win the Olympic games&#8230;.oh the injustice!!!! I was for years holding my head in my hands thinking f*** I need to be a major success in something to replace/avenge what was taken from me. I was baffled as to how some of my role models have worked through the worst issues and I was devastated my brain would not just pull itself together for all the affirmation and fighting through tough times in the world.</p>
<p>After my worst bout of illness I discovered art as therapy. I also discovered poetry and dancing. I&#8217;m 30 now and want to see how far I can go in one of these areas but regardless of my successes or failures the main point is I&#8217;ve found other pursuits I can enjoy and express the fire and energy and ambition I had in sport. Of course sometimes I reflect on sport and think &#8220;I should of pursued a creative career earlier&#8221; but I have full belief in myself that I can do this regardless of my age and that this will still happen if I possess enough talent. I truly believe if my gift is art, poetry, drama ect I will still discover it with time and effort.</p>
<p>I can also work part time now without feeling I&#8217;m throwing my life away so somebody in a high chair somewhere can exploit my time. I still feel that nobody should have to do anything they&#8217;re not passionate about, though I accept sometimes there&#8217;s a middle ground where some of your time is ok to just be ok with doing something a bit mundane so long as it pays well enough to eat good food and buy the things necessary for your own pursuits.</p>
<p>But in the midst of all this I have realised I am valuable without all the success and that I can perhaps live without my destiny being to be world famous or a huge success. There&#8217;s an element of growth and acceptance in athletic retirement and with perseverance and openness to growth and possibility the retired athlete can still win even if for a few years they felt life left them with nothing but themselves. Even if you end up happy working in a little shop. You are still worth it, Just for being your own personality and things will change again when it is your time again. Change is inevitable. We as athletes ended up there because we were driven, talented and ambitious&#8230;so have faith you will find something where that continues&#8230;</p>
<p>Understand you may feel angry, raged, hopeless, like you were denied of your true potential but also understand you will have other skills and pursuits you can be equally successful in and who knows&#8230;</p>
<p>Final tip. Post retirement, Go travelling and go to lots of classes to find what you like. Find out how people live and find where you belong for this next chapter!</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Training the eyes by Training the eyes &#183; The UK's leading Spo...</title>
		<link>http://believeperform.com/performance/training-the-eyes/#comment-791</link>
		<dc:creator><![CDATA[Training the eyes &#183; The UK's leading Spo...]]></dc:creator>
		<pubDate>Sun, 06 Dec 2015 23:13:28 +0000</pubDate>
		<guid isPermaLink="false">http://believeperform.com/?p=9934#comment-791</guid>
		<description><![CDATA[[&#8230;] &#160; [&#8230;]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] &nbsp; [&#8230;]</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on The 12 point Self-Confidence Plan by The 12 point Self-Confidence Plan &#183; The ...</title>
		<link>http://believeperform.com/performance/the-12-point-self-confidence-plan/#comment-790</link>
		<dc:creator><![CDATA[The 12 point Self-Confidence Plan &#183; The ...]]></dc:creator>
		<pubDate>Sun, 06 Dec 2015 23:12:12 +0000</pubDate>
		<guid isPermaLink="false">http://believeperform.com/?p=9980#comment-790</guid>
		<description><![CDATA[[&#8230;] &#160; [&#8230;]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] &nbsp; [&#8230;]</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Enhancing Self-Awareness &#8211; Maintaining a Psychological Mind Balance by Enhancing Self-Awareness &#8211; Maintaining a ...</title>
		<link>http://believeperform.com/performance/enhancing-self-awareness-maintaining-a-psychological-mind-balance/#comment-789</link>
		<dc:creator><![CDATA[Enhancing Self-Awareness &#8211; Maintaining a ...]]></dc:creator>
		<pubDate>Sun, 06 Dec 2015 23:11:03 +0000</pubDate>
		<guid isPermaLink="false">http://believeperform.com/?p=10001#comment-789</guid>
		<description><![CDATA[[&#8230;] &#160; [&#8230;]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] &nbsp; [&#8230;]</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Why am I doing this at my age? Physical activity or competitive sport by Why am I doing this at my age? Physical activit...</title>
		<link>http://believeperform.com/performance/why-am-i-doing-this-at-my-age-physical-activity-or-competitive-sport/#comment-788</link>
		<dc:creator><![CDATA[Why am I doing this at my age? Physical activit...]]></dc:creator>
		<pubDate>Sun, 06 Dec 2015 23:10:39 +0000</pubDate>
		<guid isPermaLink="false">http://believeperform.com/?p=10012#comment-788</guid>
		<description><![CDATA[[&#8230;] &#160; [&#8230;]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] &nbsp; [&#8230;]</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Stretching: When is it effective? by Stretching: When is it effective? &#183; The ...</title>
		<link>http://believeperform.com/performance/stretching-when-is-it-effective/#comment-787</link>
		<dc:creator><![CDATA[Stretching: When is it effective? &#183; The ...]]></dc:creator>
		<pubDate>Sun, 06 Dec 2015 19:18:02 +0000</pubDate>
		<guid isPermaLink="false">http://www.thesportinmind.com/?p=4032#comment-787</guid>
		<description><![CDATA[[&#8230;] &#160; [&#8230;]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] &nbsp; [&#8230;]</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Stress &#8211; It&#8217;s Everywhere! by Stress &#8211; It&#8217;s Everywhere! &#183; ...</title>
		<link>http://believeperform.com/performance/stress-its-everywhere/#comment-785</link>
		<dc:creator><![CDATA[Stress &#8211; It&#8217;s Everywhere! &#183; ...]]></dc:creator>
		<pubDate>Sun, 06 Dec 2015 01:04:40 +0000</pubDate>
		<guid isPermaLink="false">http://believeperform.com/?p=10029#comment-785</guid>
		<description><![CDATA[[&#8230;] Stress &#8211; It&#8217;s Everywhere! &#183; The UK&#039;s leading Sports Psychology Website https://t.co/LOp5wOeVfc&#160; [&#8230;]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] Stress &ndash; It&rsquo;s Everywhere! &middot; The UK&#039;s leading Sports Psychology Website <a href="https://t.co/LOp5wOeVfc&#038;nbsp" rel="nofollow">https://t.co/LOp5wOeVfc&#038;nbsp</a>; [&#8230;]</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Self-Belief, Mastery Experiences, and Performance in Sport by Lennie Waite &#187; A Recipe for Success: Be C.O.O.L</title>
		<link>http://believeperform.com/performance/self-belief-mastery-experiences-and-performance-in-sport/#comment-784</link>
		<dc:creator><![CDATA[Lennie Waite &#187; A Recipe for Success: Be C.O.O.L]]></dc:creator>
		<pubDate>Fri, 04 Dec 2015 20:30:32 +0000</pubDate>
		<guid isPermaLink="false">http://believeperform.com/?p=9222#comment-784</guid>
		<description><![CDATA[[&#8230;] touch on the first part today: Consistency. I wrote a piece about a year ago on the importance of self-belief. It is a central component of success in any domain. In basic terms, self-belief requires mastery [&#8230;]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] touch on the first part today: Consistency. I wrote a piece about a year ago on the importance of self-belief. It is a central component of success in any domain. In basic terms, self-belief requires mastery [&#8230;]</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Aggression in sport by W2 Final Draft &#124; Dueck UW1020 Fall 2015</title>
		<link>http://believeperform.com/education/aggression-in-sport-2/#comment-781</link>
		<dc:creator><![CDATA[W2 Final Draft &#124; Dueck UW1020 Fall 2015]]></dc:creator>
		<pubDate>Thu, 03 Dec 2015 05:46:27 +0000</pubDate>
		<guid isPermaLink="false">http://199.204.248.105/~thesport/?p=174#comment-781</guid>
		<description><![CDATA[[&#8230;] Believe Perform.Aggression in Sport.http://believeperform.com/education/aggression-in-sport-2/ [&#8230;]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] Believe Perform.Aggression in Sport.<a href="http://believeperform.com/education/aggression-in-sport-2/" rel="nofollow">http://believeperform.com/education/aggression-in-sport-2/</a> [&#8230;]</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on The ACT hexaflex applied to sport by Corinne Shields</title>
		<link>http://believeperform.com/performance/the-act-hexaflex-applied-to-sport/#comment-780</link>
		<dc:creator><![CDATA[Corinne Shields]]></dc:creator>
		<pubDate>Mon, 30 Nov 2015 19:06:00 +0000</pubDate>
		<guid isPermaLink="false">http://www.thesportinmind.com/?p=3760#comment-780</guid>
		<description><![CDATA[Hi I have linked to you today from the latest post at actmadelyrical.com which is entitled ACT and INTEGRITY.  I hope you will visit.  I love feedback and would be interested to hear about any developments with the application of ACT in Sport.

Cheers
Corinne at actmadelyrical.com]]></description>
		<content:encoded><![CDATA[<p>Hi I have linked to you today from the latest post at actmadelyrical.com which is entitled ACT and INTEGRITY.  I hope you will visit.  I love feedback and would be interested to hear about any developments with the application of ACT in Sport.</p>
<p>Cheers<br />
Corinne at actmadelyrical.com</p>
]]></content:encoded>
	</item>
</channel>
</rss>
